/* Styling for heading tags */

.markdown-content {
  overflow: hidden;
  font-size: 1.25rem;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin: 3px 0;
  font-weight: bold;
}


.markdown-content h1 {
  font-size: 3.5rem;
  color: #007bff;
}

.markdown-content h2 {
  font-size: 2rem;
}

.markdown-content h3 {
  font-size: 1.75rem;
}

.markdown-content h4 {
  font-size: 1.5rem;
}

.markdown-content h5 {
  font-size: 1.25rem;
}

.markdown-content h6 {
  font-size: 1rem;
}

/* Styling for paragraphs */

.markdown-content p {
  font-size: 1.25rem;
  margin: 1em 0;
}

/* Styling for inline code */
.markdown-content code {
  font-family: 'Courier New', monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Styling for code blocks */
.markdown-content pre {
  font-family: 'Courier New', monospace;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

/* Styling for lists */
.markdown-content ul,
.markdown-content ol {
  margin: 1em 0;
  padding-left: 1.5rem;
  list-style-type: circle;
}

/* Styling for list items */
.markdown-content li {
  margin: 0.5em 0;
}

/* Styling for links */
.markdown-content a {
  color: #007bff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content img {
  display: flex;
  justify-content: center;
  align-items: center;
}

