#display {
    background: #fff;
    color: #111;
    position: relative;
    width: 100vw;
}

#logow {
  font-size: 2em;
  padding: 10px 10px 5px 10px;
  background: #fff;
}

.logo b {
  color: #0080ff;
}

.random {
  font-size: 0.5em;
  background: #111;
  color: #fff;
}

#logow a {
  font-size: 0.5em;
  background: #0080ff;
  color: #fff;
}

#logow a:hover {
  background: #00ff00;
}

.generated {
  z-index: -999;
  font-size: 1.5em;
  width: 100vw;
  height: auto;
  padding: 30px 0;
  background: #000;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.logo.ant-menu-item-disabled {
  color: black;
}