
#display {
    color: #111;
    position: relative;
    width: 100vw;
}

#logow {
  font-size: 2em;
  padding: 10px 10px 5px 10px;
  background: #000;
}

.logo {
  color: #fff;
}

.logo b {
  color: #0080ff;
}

.random, .random2 {
  font-size: 0.5em;
  background: #111;
  color: #fff;
}

.random2 {
  display: none;
}


#logow a {
  font-size: 0.5em;
  background: #0080ff;
  color: #fff;
}

#logow a:hover {
  background: #00ff00;
}

#generated {
  z-index: -999;
  width: 100vw;
  height: 450px;
  overflow: hidden;
  position: absolute;
  margin: 50px 0;
  background: #000;
  top: 0;
  left: 0;
}

.logo.ant-menu-item-disabled {
  color: black;
}

@media (max-width: 700px) {

  .random, .github {
    display: none;
  }

  .random2 {
    display: inline;
  }

}