#memes {
}

.scroll-container {
  padding: 10px;
  margin: 0 auto;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: 2s ease-in-out;
}

.scroll-container img {
  display: block;
  margin: 10px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.scroll-container:hover img:hover {
  transform: scale(1.5);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  width: auto;
  height: auto;
  cursor: pointer;
  opacity: 1;
}

#memes-wrapper {
  justify-content: center;
}
