
@keyframes slide-in-topbot {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.wordcloud {
  position: relative;
  max-width: 1000px;
}

.wordcloud > div {
  animation-name: slide-in-topbot;
  animation-duration: 0.5s;
}

.wordcloud .clickable {
  padding: 5px;
  transition: 0.25s ease-in-out;
}

.wordcloud .clickable:hover {
  transition: 0.25s ease-in-out;
}

.wordcloud .clickable:hover,
.wordcloud .clicked {
  border-radius: 5px;
  color: #fff;
  background: #0080ff;
  opacity: 0.8;
  transform: scale(1.2);
}

